* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #000;
    padding: 6px 24px;
    text-align: left;
    color: #fff;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;


}

.productsMenu {
    position: sticky;
    background-color:navy;
    margin: 0px;
    top: 0px;
    overflow: hidden;
}

.productsCart {
    position: absolute;
    width: 39px;
    height: 39px;
    object-fit: cover;
    right: 80px;
    padding: 7px;

}

.productsMenu a {
    font: menu;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    padding: 16px 24px;
    color: #fff;
    font-weight: bolder;

}


/**
#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 10px;
}

#content section {
    padding: 30px;
}

/*Images centered*/ 

.one, .two, .three, .four, 
.five, .six, .seven, .eight, 
.nine, .ten, .eleven, .twelve {
    display: block;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-left: auto;
    object-fit: cover;
}


footer{
    background-color: #000;
    text-align: center;
}

.facebook, .twitter, .instagram, 
.pinterest, .tumbler {
    width: 39px;
    height: 39px;
    display: inline-block;
    padding: 50px;
    object-fit: cover;
    margin: 10px;
}

.copyright {
    color: #fff;
    text-align: right;
    font-size: 33px;
    text-transform: uppercase;

}

@media screen and (min-width: 800px) {
    #content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(200px, auto);
        max-width: 960px;
        margin: 0 auto;
        grid-gap: 10px;
    }
}   
/*Media querys*/
/**
@media screen and (min-width: 800px) {
    h3 {
        color: #fff;
        text-align: center;
    }
}

**/